*~
processing/.idea/*
solver/.idea/*
script/slurm*
script/job_name_*
output/*
input/inputJSON*
solver/*.bak
solver/build*
solver/*.gprof
solver/*.out
solver/log*
solver/bin*
solver/docs*
solver/*.csv
solver/src/core/input.h
reference_serial/*.bak
reference_serial/build*
reference_serial/*.gprof
reference_serial/*.out
reference_serial/log*
reference_serial/bin*
reference_serial/docs*
reference_serial/*.csv
reference_templates/*.bak
reference_templates/build*
reference_templates/*.gprof
reference_templates/*.out
reference_templates/log*
reference_templates/bin*
reference_templates/docs*
reference_templates/*.csv
processing/notebook
processing/*.pyc
processing/*~
processing/__pycache__*
processing/__*
processing/lib/*.pyc
processing/lib/*~
processing/lib/__pycache__/*
processing/lib/__*
