*$py.class
*.o
*.py[cod]
*~
__pycache__
input/inputJSON*
output/*
processing/.idea/*
processing/__*
processing/lib/__*
processing/notebook
reference_serial/*.bak
reference_serial/*.csv
reference_serial/*.gprof
reference_serial/*.out
reference_serial/bin*
reference_serial/build*
reference_serial/docs*
reference_serial/log*
reference_templates/*.bak
reference_templates/*.csv
reference_templates/*.gprof
reference_templates/*.out
reference_templates/bin*
reference_templates/build*
reference_templates/docs*
reference_templates/log*
script/job_name_*
script/slurm*
solver/*.bak
solver/*.csv
solver/*.gprof
solver/*.out
solver/.idea/*
solver/bin*
solver/build*
solver/build/*
solver/docs*
solver/log*
solver/src/core/input.h
